
body {
    padding-top: 58px;
}

#root {
    height: calc(100vh - 58px);
    background-color: var(--my-background-primary) !important;
    color: var(--my-text-primary);
}

.App {
    background-color: var(--my-background-primary) !important;
    color: var(--my-text-primary);
}

#root::before {
    content: " ";
    position: fixed;
    width: 100vw;
    height: 12vh;
    left: -50vw;
    top: 0vh;
    background: var(--my-accent-primary);
    transform: rotate(-45deg);
    box-shadow: rgb(0 0 0 / 50%) 0 0 7px 0;
    border: 2px solid black;
}

#root::after {
    content: " ";
    position: fixed;
    width: 100vw;
    height: 12vh;
    right: -50vw;
    top: 0;
    background: var(--my-accent-primary);
    transform: rotate(45deg);
    box-shadow: rgb(0 0 0 / 50%) 0 0 7px 0;
    border: 2px solid var(--my-accent-secondary);
}

#MyBody {
    min-height: calc(100vh - 58px - 132px);
}