/* Colors */
* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

:root {
    --my-background-primary: #F0F2F5;
    --my-background-secondary: #e5e5e5;
    --my-text-primary: #272727;
    --my-text-secondary: #000000;
    --my-accent-primary: #ECB72D;
    --my-accent-secondary: #000000;
    --my-border-primary: #000000;
}

[data-theme="dark"] {
    --my-background-primary: #272727;
    --my-background-secondary: #212529;
    --my-text-primary: #ededed;
    --my-text-secondary: #ffffff;
    --my-accent-primary: #ECB72D;
    --my-accent-secondary: #000000;
    --my-border-primary: #000000;
}