.MyCard {
    border: rgba(33, 33, 33, 0.12) solid 1px;
    border-radius: 20px;
    background-color: var(--my-background-secondary);
}

.MyCard:hover {
    border: 0;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.4);
}

.MyCard_Img {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: rgba(33, 33, 33, 0.12) solid 1px;
}

.MyCard_Link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-text-primary);
}

.MyCard_Link:hover, .MyCard_Link:focus, .MyCard_Link:active {
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-accent-primary);
}

.MyCard_Body .text-muted {
    color: var(--my-text-primary) !important;
}

.MyCard_ListGroup {
    background-color: var(--my-background-secondary);
}

.MyCard:Hover .MyCard_ListGroup {
    background-color: var(--my-background-secondary);
}

.MyCard .MyCard_Rating {
    color: var(--my-accent-primary);
}

.MyCard .MyCard_NR {
    color: var(--my-accent-primary);
    font-weight: bolder;
}

.MyCard .MyCard_Title {
    font-weight: bolder;
}