
.MyCard_Img {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: rgba(33, 33, 33, 0.12) solid 1px;
}

.MyCard {
    border: rgba(33, 33, 33, 0.12) solid 1px;
    border-radius: 20px;
    background-color: var(--my-background-secondary);
}

.MyCard:hover {
    border: 0;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}

.MyCard {
    border: 0;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
}


.MyCard_Title {
    font-weight: bolder;
}

.MyCard_Description {
    font-size: 1.1rem;
    color: var(--my-text-primary);
}

.MyCard_Rating {
    color: var(--my-accent-primary);
}

.MyCard_NR {
    color: var(--my-accent-primary);
    font-weight: bolder;
}

.MyCard_Link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-text-primary);
}

.MyCard_Link:hover, .MyCard_Link:focus, .MyCard_Link:active {
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-accent-primary);
}

.MyCard_ListGroup {
    background-color: var(--my-background-secondary);
    border: none;
    color: var(--my-text-primary);
}
