#MyFooter {
    background-color: #212529;
    position: relative;
    bottom: 0;
    border-top: 2px solid var(--my-accent-primary);
}

.MyFooter_Icon {
    font-size: 1.5em;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #9a9c9d;
}

.MyFooter_Icon:hover, .MyFooter_Icon:focus, .MyFooter_Icon:active {
    color: var(--my-accent-primary);
}

.MyFooter_Text {
    font-size: 1em;
    color: #9a9c9d;
}