#MyHome {
    background-color: var(--my-background-secondary);
    border-radius: 20px;
    border-top: var(--my-accent-primary) solid 2px;
    border-bottom: var(--my-accent-primary) solid 2px;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
}

#MyHome:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}

.MyHome_Title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--my-text-primary);
}

.carousel-caption p {
    font-size: 1.2em;
    font-weight: bolder;
}

.MyHome_Link {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-text-primary);
}

.MyHome_Link:hover, .MyHome_Link:focus, .MyHome_Link:active {
    text-decoration: none;
    font-weight: bolder;
    color: var(--my-accent-primary);
}