/* Navbar */
.navbar {
    font-weight: bold;
    border-bottom: 2px solid var(--my-accent-primary);
    transition: all .5s;
}
.navbar a:hover {
    color: var(--my-accent-primary) !important;
}

.navbar .navbar-brand {
    color: var(--my-accent-primary) !important;
}

.active.nav-link {
    color: var(--my-accent-primary) !important;
}

#dropdown-basic {
    color: var(--bs-nav-link-color);
}

.MyNavbar_Input, .MyNavbar_Input:focus {
    background-color: #373737;
    border-color: var(--my-accent-primary);
    box-shadow: none;
    color: white;
}

.MyNavbar_Input::placeholder {
    color: var(--my-accent-primary);
}