/* Navbar */
.navbar {
    font-weight: bold;
    border-bottom: 2px solid var(--my-accent-primary);
    transition: all .5s;
}
.navbar a:hover {
    color: var(--my-accent-primary) !important;
}

.navbar .navbar-brand {
    color: var(--my-accent-primary) !important;
}

.active.nav-link {
    color: var(--my-accent-primary) !important;
}

#dropdown-basic {
    color: var(--bs-nav-link-color);
}