#MyProfile, #MyProfile_Films {
    background-color: var(--my-background-secondary);
    border-radius: 10vh;
}

#MyProfile .MyProfile_Logo {
    font-size: 10vw;
}

.MyProfile_Header, .MyProfile_Films_Header {
    color: var(--my-accent-primary);
}

#MyProfile .MyProfile_Info_Title {
    font-size: 2vh;
    font-weight: bold;
}

#MyProfile .MyProfile_Logout button {
    background-color: var(--my-accent-primary);
    border: var(--my-accent-secondary);
    color: var(--my-accent-secondary);
}