
body {
    padding-top: 58px;
}

#root {
    background: var(--background-primary);
    color: var(--text-primary);
    height: calc(100vh - 58px);
}

#root::before {
    content: " ";
    position: fixed;
    width: 10vh;
    height: 10vh;
    left: -3vw;
    top: 0vh;
    background: var(--accent);
    transform: rotate(45deg);
    box-shadow: rgb(0 0 0 / 50%) 0 0 7px 0;
    border: 2px solid black;
}

#root::after {
    content: " ";
    position: fixed;
    width: 10vh;
    height: 10vh;
    right: -3vw;
    top: 0vh;
    background: var(--accent);
    transform: rotate(45deg);
    box-shadow: rgb(0 0 0 / 50%) 0 0 7px 0;
    border: 2px solid black;
}