#MyRegister .MyLogin_Logo {
    color: var(--my-text-primary);
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 10px;
}

#MyRegister .MyLogin_Form {
    border-top: var(--my-accent-primary) solid 3px;
    border-bottom: var(--my-accent-primary) solid 3px;
    background-color: var(--my-background-secondary);
    border-radius: 20px;
}

#MyRegister input {
    border-radius: 20px;
    opacity: 0.5;
}

#MyRegister #MySubmit {
    background-color: var(--my-accent-primary);
    color: black;
    border: var(--my-border-primary) solid 3px;
    border-radius: 20px;
    opacity: 1;
}

#MyRegister #MySubmit:hover {
    border: var(--my-accent-primary) solid 3px;
}

#MyRegister a {
    color: var(--my-accent-primary);
    text-decoration: none;
    font-weight: bolder;
}